<div class="col-md-4 align-item-center">
    <div class="card">
        <div class="card-header">
            <h2>Editar Reto</h2>
        </div>
        <div class="card-body">
            <form action="/retos/editarreto/{{retoeditar.id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <label for="validationTextarea" class="form.label">Título del reto</label>
                    <input type="text" name="titulo" class="form-control" placeholder="titulo" value="{{retoeditar.titulo}}">
                </div>
                <div class="form-group">
                    <label for="validationTextarea" class="form-label">Descripción del reto</label>
                    <textarea type="text" name="descripcion" class="form-control">{{retoeditar.descripcion}}</textarea>
                </div>
                <div class="form-group">
                    <label for="validationTextarea" class="form.label">Fecha limite del reto</label>
                    <input name="fechafin" type="date" class="form-control" value="{{retoeditar.fechafin}}">
                </div>
                <div class="form-group">
                    <Button class="btn btn-primary brn-block" type="submit">Guardar</Button>
                </div>
            </form>
        </div>
    </div>
</div>